.card-body{
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: white;
    text-decoration: none;
    min-height:88px;
    text-align:center;
}
.card-body:hover{
    box-shadow: 0 10px 60px 0 rgba(0,0,0,0.15);
    transition: box-shadow 0.3s;
}
.card{
    border-color: white;
}
a{
    text-decoration: none;
    color: inherit;
}