<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senarai Program Agromakanan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/program-list.css">
    <link rel="stylesheet" href="../../css/nav.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top shadow" style="background-color:white ;border-bottom: 1px solid #ccc;min-height:130px; max-height: 150px;">
        <div class="container" style="height:100px; justify-content:center;"   >
            <a href="../../index.html">
                <img src="../../image/logorisda.png" alt="Logo" class="img-fluid" style=" width: 500px;min-width:250px; object-fit:cover;">
            </a>

            
            <div class="icons d-flex" style="font-size: 10px;">
                <div class="icon">
                    <a href="../../index.html" class="link" alt="Utama">
                        <img src="../../image/homeicon.png" alt="Utama" class="img-fluid" style="max-height: 20px;">
                        <p>Utama</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="../soalan-lazim.html" class="link" alt="Soalan Lazim">
                        <img src="../../image/question-mark.png" alt="Soalan Lazim" class="img-fluid" style="max-height: 20px;">
                        <p>Soalan Lazim</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="../prjku.html" class="link">
                        <img src="../../image/hubungi.png" alt="Hubungi" class="img-fluid" style="max-height: 20px;">
                        <p>Hubungi</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://forms.gle/UNthUDkmv6EuYP8EA" class="link" target="_blank">
                        <img src="../../image/icon-aduan.png" alt="Aduan" class="img-fluid" style="max-height: 20px;">
                        <p>Aduan</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://www.facebook.com/risdakelantanutara" class="link" target="_blank">
                        <img src="../../image/fb-icon.png" alt="Facebook" class="img-fluid" style="max-height: 20px;">
                        <p>Facebook</p>
                    </a>
                </div>
            </div>
        </div>
    </nav>  
    <div class="container-box" style="margin-top: 140px;">
    <div class="tabs">
        <h5 class="text-center">Senarai Program Agromakanan</h5>
        <div class="tab active" data-tab="tanaman-jangka-pendek">Tanaman Jangka Pendek</div>
        <div class="tab" data-tab="ternakan">Ternakan</div>
        <div class="tab" data-tab="agro-ts">Agro @ TS</div>
        
    </div>

    <div class="tab-content active" id="tanaman-jangka-pendek">
        <h3>Tanaman Jangka Pendek</h3>
        <p>Program Agromakanan merupakan salah satu inisiatif Pihak Berkuasa Kemajuan Pekebun Kecil Perusahaan Getah (RISDA) bagi membantu Pekebun Kecil meningkatkan penghasilan dan pendapatan melalui bidang pertanian selain dari sumber getah. Program Agromakanan RISDA (PAM) ini adalah sejajar dengan Dasar Agromakanan Negara 2.0 (DAN 2.0) dan Dasar Sekuriti Makanan Negara 2021-2025.</p>
        <h6>Objektif Program Agromakanan Risda</h6>
        <ol>
            <li>Mengurangkan kebergantungan sepenuhnya kepada pendapatan dari sumber getah dengan memfokuskan bidang agromakanan agar menjadi lebih efektif dalam meningkatkan taraf kehidupan Pekebun Kecil.</li>
            <li>Menyediakan kemudahan bantuan kepada Pekebun Kecil untuk menjalankan aktiviti pertanian selain getah seperti tanaman jangka pendek dan ternakan.</li>
            <li>Menggalakkan Pekebun Kecil untuk menerokai sumber baharu untuk meningkatkan pendapatan.</li>
            <li>Untuk menyokong dan memenuhi Dasar Agromakanan Negara dan Dasar Sekuriti Makanan Negara.</li>
            <li>Sasaran peningkatan pendapatan Pekebun Kecil kepada RM500.00/bulan pada akhir tahun 2025.</li>
        </ol>
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    Syarat Program Bantuan
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <h6>Pekebun Kecil</h6>
                        <ol>
                            <li>Warganegara Malaysia : Pekebun Kecil/Ahli Isi Rumah (AIR), Berumur : 18-60 tahun dan berdaftar dengan RISDA.</li>
                            <li>Peserta Program Tanam Semula.</li>
                            <li>Hak milik tanah atau surat kebenaran guna atau sewa tanah min 2 tahun (jenis projek/break even point).</li>
                            <li>Berkemampuan menjalankan projek separuh/sepenuh masa.</li>
                            <li>Menghadiri Kursus Agromakanan yang dianjurkan RISDA.</li>
                            <li>Bersetuju dengan agihan keuntungan 60:40 (antara Ketua Kumpulan & Ahli lain) bagi projek Pekebun Kecil Berkelompok (3-5 orang).</li>
                            <li>Peserta bersedia untuk membiayai kos projek selain daripada bantuan RISDA.</li>
                            <li>Keluasan tanah projek adalah munasabah dengan nilai bantuan yang dipohon.</li>
                            <li>Peserta AET/PPP KDW tidak layak mohon bantuan dalam tempoh 2 tahun.</li>
                        </ol>
                        <h6>Intergrator</h6>
                        <ol>
                            <li>Warganegara Malaysia</li>
                            <li>Kumpulan RISDA Holdings (KRH) atau Koperasi Pekebun Kecil seliaan RISDA atau Syarikat Bumiputera Tempatan yang berlatarbelakangkan bidang pertanian dan mempunyai pengalaman menjalankan projek/perniagaan berkaitan bidang pertanian atau:</li>
                            <li>Usahawan Agromakanan atau Aktiviti Ekonomi Tambahan (AET) yang berpengalaman mempunyai kepakaran dan berkeupayaan membentuk usahawan baharu dan mempunyai jaringan pemasaran yang kukuh.</li>
                            <li>Berlatar belakang bidang pertanian dan ada pengalaman menjalankan projek yang dipohon.</li>
                            <li>Mempunyai kepakaran dan berkeupayaan membentuk usahawan baharu.</li>
                            <li>Hak milik tanah/surat kebenaran guna atau sewa tanah minimum 2 tahun (jenis projek/break even point).</li>
                            <li>Telah berdaftar SSM/PBT/MOF atau mana-mana lesen berkaitan.</li>
                            <li>Kewangan stabil 10% daripada nilai bantuan.</li>\
                            <li>Integrator ejen pelaksana - urus projek sendiri tanpa pihak ke-3.</li>
                            <li>Mempunyai jaringan pemasaran yang kukuh.</li>
                            <li>Bersedia untuk membiayai kos projek selain bantuan RISDA.</li>
                            <li>Keluasan tanah projek adalah munasabah dengan nilai bantuan yang dipohon.</li>
                            <li>Berkeupayaan untuk melaksanakan projek serta mempunyai tapak yang bersesuaian.</li>
                            <li>Bersetuju dengan agihan keuntungan 50:50 (Ketua Kumpulan & Ahli) bagi projek Pekebun Kecil Berkelompok.</li>
                            <li>Sedia SOP projek, pelan pelaksanaan dan pemasaran yang lengkap.</li>
                        </ol>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseTwo">
                    Kadar Bantuan
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <h6>Kategori Penerima Bantuan:</h6>
                        <ol>
                            <li>Pekebun Kecil (Individu)</li>
                            <ul>
                                <li>Ketua Isi Rumah (KIR) & Ahli Isi Rumah (AIR) secara individu.</li>
                                <li>Seorang/Individu : RM 20,000.00</li>
                            </ul>
                            <li>Pekebun Kecil (Berkelompok)</li>
                            <ul>
                                <li>Ketua Isi Rumah (KIR) & Ahli Isi Rumah (AIR) secara berkelompok maksimum 5 orang.</li>
                                <li>3-5 Orang : RM 60,000.00 - RM 100,000.00 (RM 20,000.00/Peserta).</li>
                            </ul>
                            <li>Integrator Anchor</li>
                            <ul>
                                <li>Kumpulan RISDA Holdings (KRH)/Koperasi Pekebun Kecil (KPK)/Syarikat Bumiputera menguruskan bekalan input, peralatan, khidmat nasihat, pemasaran dan pemantauan kepada peserta.</li>
                                <li>15 Orang : RM 300,000.00/Projek.</li>
                            </ul>
                            <li>Intergrator Ejen Pelaksana</li>
                            <ul>
                                <li>Kumpulan RISDA Holdings (KRH)/Koperasi Pekebun Kecil (KPK) melaksanakan projek bagi pihak Pekebun Kecil.</li>
                                <li>15 Orang : RM 300,000.00/Projek.</li>
                            </ul>
                        </ol>

                        <h6>BANTUAN INFRASTRUKTUR AGROMAKANAN RISDA (30%) :</h6>
                        <ul>
                            <li>Penyediaan & pembersihan kawasan.</li>
                            <li>Bina baru/baik pulih infra ladang.</li>
                            <li>Sistem pengairan & perparitan.</li>
                            <li>Kemudahan elektrik & air.</li>
                            <li>Kemudahan pagar.</li>
                            <li>Papan tanda.</li>
                        </ul>

                        <h6>BANTUAN INPUT, PERALATAN DAN KONSULTASI AGROMAKANAN RISDA (70%) :</h6>
                        <ul>
                            <li>Input pertanian.</li>
                            <li>Baka ternakan.</li>
                            <li>Makanan ternakan & ubat-ubatan.</li>
                            <li>Peralatan/mesin/jentera.</li>
                            <li>Kemudahan pembungkusan/label.</li>
                            <li>Teknologi pertanian moden.</li>
                            <li>Kajian tanah.</li>
                            <li>Khidmat perundingan & promosi.</li>
                            <li>Latihan, khidmat nasihat & bimbingan.</li>
                            <li>Perlindungan insurans projek dari bencana alam, penyakit dan sebagainya</li>
                            <li>Lain-lain keperluan yang diluluskan oleh Jawatankuasa.</li>
                        </ul>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseThree">
                    Kaedah Permohonan
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <h6>Pekebun Kecil (Individu & Berkelompok)</h6>
                        <ol>
                            <li>Pekebun Kecil atau Berkelompok perlu mengisi borang permohonan dan borang tersebut haruslah lengkap bersama :
                                <ul>
                                    <li>Pengakuan dan persetujuan oleh Ketua Projek (jika berkelompok).</li>
                                    <li>Sokongan Penolong Pegawai Pertanian kawasan.</li>
                                    <li>Sokongan Penyelaras Program Khas Daerah.</li>
                                    <li>Perakuan oleh Pegawai RISDA Daerah/Jajahan/Bahagian.</li>
                                    <li>Kepilkan bersama surat sokongan Program Agromakanan oleh agensi/jabatan yang berkaitan.</li>
                                </ul>
                            </li>
                            
                            <li>Hantar borang permohonan.</li>
                            <li>Hantar kertas kerja dan sokongan agensi/jabatan berkaitan.</li>
                            <li>Tunggu maklum balas kelulusan.</li>
                        </ol>

                        <h6>Intergrator</h6>
                        <ol>
                            <li>Pekebun Kecil atau Berkelompok perlu mengisi borang permohonan dan borang tersebut haruslah lengkap bersama :
                                <ul>
                                    <li>Maklumat projek.</li>
                                    <li>Sokongan Penyelaras Program Khas Daerah dan Penolong Pegawai Pertanian kawasan.</li>
                                    <li>Perakuan oleh Pegawai RISDA Daerah/Jajahan/Bahagian.</li>
                                    <li>Perakuan oleh Pengarah RISDA.</li>
                                    <li>Maklumat ahli-ahli projek atau penerima dividen.</li>
                                    <li>Kepilkan bersama surat sokongan Program Agromakanan oleh agensi/jabatan yang berkaitan.</li>
                                </ul>
                            </li>
                            
                            <li>Hantar borang permohonan.</li>
                            <li>Hantar kertas kerja dan sokongan agensi/jabatan berkaitan.</li>
                            <li>Tunggu maklum balas kelulusan.</li>
                        </ol>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseFour">
                    Senarai Rujukan
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Bil</th>
                                    <th>Rujukan</th>
                                    <th>Borang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Borang Permohonan Program Agromakanan - Pekebun Kecil (Lampiran 1)</td>
                                    <td><a href="../../document/LAMPIRAN 1 agromakanan.pdf" download target="_blank">Download</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Borang Permohonan Program Agromakanan - Integrator (Lampiran 2)</td>
                                    <td><a href="../../document/LAMPIRAN2 agromakanan.pdf" download target="_blank">Download    </a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Surat Sokongan Program Agromakanan Oleh Agensi/Jabatan Yang Berkaitan (Lampiran 3).</td>
                                    <td><a href="../../document/LAMPIRAN 3 agromakanan.pdf" download target="_blank">Download    </a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Format Pembentangan Program Agromakanan (Lampiran 4).</td>
                                    <td><a href="../../document/LAMPIRAN 4 - FORMAT PEMBENTANGAN PROGRAM AGROMAKANAN.pdf" download target="_blank">Download    </a></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Status Permohonan Projek Agromakanan (Lampiran 5).</td>
                                    <td><a href="../../document/LAMPIRAN 5 - STATUS PERMOHONAN PROJEK AGROMAKANAN.pdf" download target="_blank">Download    </a></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Borang Setuju Terima (Lampiran 6).</td>
                                    <td><a href="../../document/document/LAMPIRAN 6 - BORANG SETUJU TERIMA.pdf" download target="_blank">Download    </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="ternakan">
        <h3>AET NANO</h3>
        <p>Skim Insentif Nano merupakan pemberian Insentif Pemulaan Perniagaan yang memberi tumpuan kepada Pembangunan Produk/ Pengeluaran khususnya bagi usahawan pekebun kecil atau AIR dalam kategori Nano iaitu yang telah memulakan perniagaan bagi tempoh masa tertentu dan telah memperoleh jualan antara RM60,000.00 ke RM150,000.00 setahun. Selepas setahun menyertai skim ini, usahawan dijangka akan mencapai jualan melebihi RM150,000.00 setahun.</p>
        <div id="accordion1">
            <div class="card">
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse6">
                    Skop
                    </a>
                </div>
                <div id="collapse6" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <ol>
                            <li>Mesin & Peralatan</li>
                            <li>Bina baharu atau baik pulih bengkel/ premis perniagaan</li>
                            <li>Bina baharu atau baik pulih pagar/ kandang/ reban/ kolam</li>
                            <li>Kos penyediaan tapak</li>
                            <li>Baka ternakan</li>
                            <li>Bahan mentah/ input pertanian</li>
                            <li>Makanan ternakan & ubat-ubatan</li>
                            <li>Papan tanda perniagaan</li>
                            <li>Insurans Perlindungan premis/ peralatan/ mesin/</li>
                            <li>Lain-lain input perniagaan yang diluluskan oleh Jawatankuasa Program Keusahawanan RISDA Negeri/ Daerah</li>
                        </ol>
                    </div>
                </div>


                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse7">
                    Nilai Bantuan
                    </a>
                </div>
                <div id="collapse7" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <p>Skim Insentif Nano : RM20,000.00/ orang</p>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse5">
                    Syarat Program Bantuan
                    </a>
                </div>
                <div id="collapse5" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <ol>
                            <li>Melalui tapisan rekrutmen dan menjalani ujian psikometrik</li>
                            <li>Bersedia dan sanggup untuk menghadiri sebarang jenis latihan dan kursus</li>
                            <li>Memuat turun aplikasi RISDA Entrepreneur Delivery System (REDS) di Playstore dan mengemaskini rekod urusniaga secara konsisten</li>
                            <li>Menjalankan bisnes/ perniagaan sepenuh masa</li>
                            <li>Bersedia meningkatkan kapasiti dan keupayaan diri dalam mengembangkan perniagaan</li>
                        </ol>
                    </div>
                </div>


                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse8">
                    Kumpulan Sasar
                    </a>
                </div>
                <div id="collapse8" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <ul>
                            <li>Pekebun Kecil (pemilik pengusaha) Warganegara Malaysia atau Ahli Isi Rumah</li>
                            <li>Keutamaan kepada peserta tanam semula yang masih dalam bantuan</li>
                            <li>Keutamaan kepada pemohon Kategori B40</li>
                            <li>Pekebun kecil yang berumur antara 18-60 tahun</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="agro-ts">
        <h3>Start-Up (Integrator)</h3>
        <p>Syarikat-syarikat tempatan, Syarikat Milikan RISDA (SMR), Koperasi Pekebun Kecil (KPK) atau Usahawan Kategori Mikro dan ke atas yang dilantik bagi membangunkan usahawan melalui pakej yang ditawarkan oleh syarikat berkenaan dan telah menandatangani dokumen perjanjian bersama RISDA.</p>
        <div id="accordion2">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse9">
                    Skop
                    </a>
                </div>
                <div id="collapse9" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <p>Pakej yang diluluskan dalam JIPKRIS meliputi:</p>
                        <ol>
                            <li>Mesin & peralatan</li>
                            <li>Bina baharu atau baik pulih bengkel/ premis perniagaanBina baharu atau baik pulih bengkel/ premis perniagaan</li>
                            <li>Bina baharu atau baik pulih pagar/ kandang/ reban/ kolam</li>
                            <li>Kos penyediaan tapak</li>
                            <li>Baka ternakan</li>
                            <li>Bahan mentah/ input pertanian</li>
                            <li>Makanan ternakan & ubat-ubatan</li>
                            <li>Papan tanda perniagaan</li>
                            <li>Insurans Perlindungan premis/ peralatan/ mesin/</li>
                            <li>Lain-lain input perniagaan</li>
                        </ol>
                    </div>
                </div>
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse10">
                    Nilai Bantuan
                    </a>
                </div>
                <div id="collapse10" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <p>Skim Insentif Start up Integrator : RM20,000.00/ orang</p>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse11">
                    Pemilihan Intergrator
                    </a>
                </div>
                <div id="collapse11" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <ul>
                            <li>PRD/PRN/BPU mengesyorkan syarikat yang memenuhi kriteria sebagai integrator</li>
                            <li>Cadangan Syarikat Integrator dibawa ke JIPKRIS untuk kelulusan pelaksanaan program</li>
                            <li>BPU keluarkan surat lantikan Integrator dan perjanjian RISDA-Integrator</li>
                        </ul>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse12">
                    Pemilihan Usahawan
                    </a>
                </div>
                <div id="collapse12" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <ul>
                            <li>Pemilihan peserta yang berminat hasil dari tapisan e-Rekrutmen dan e-SPeK</li>
                            <li>Melepasi temuduga dengan Syarikat Integrator</li>
                        </ul>
                    </div>
                </div>


                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse123">
                    Kumpulan Sasar
                    </a>
                </div>
                <div id="collapse123" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <ol>
                            <li>Pekebun Kecil (pemilik pengusaha) Warganegara Malaysia atau Ahli Isi Rumah</li>
                            <li>Keutamaan kepada peserta tanam semula yang masih dalam bantuan</li>
                            <li>Keutamaan kepada pemohon Kategori B40</li>
                            <li>Pekebun kecil yang berumur antara 18-60 tahun</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>

  <script>
    const tabs = document.querySelectorAll('.tab');
    const contents = document.querySelectorAll('.tab-content');

    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        const target = tab.getAttribute('data-tab');

        tabs.forEach(t => t.classList.remove('active'));
        tab.classList.add('active');

        contents.forEach(content => {
          content.classList.remove('active');
          if (content.id === target) {
            content.classList.add('active');
          }
        });
      });
    });
  </script>

</body>
</html>
