<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kisah Kejayaan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/nav.css">
</head>
<style>
    .card:hover{
        box-shadow: #000;
        transform:translatey(-10px); 
        transition: transform 0.5s,  box-shadow 0.5s;
    }
    .card{
        transition: all ease-in-out 0.5s;
    }
    .row{
        padding:20px;
    }
    .card img{
        height:300px;
        object-fit: cover;
    }
    @media screen and (min-width: 390px) {
        .card{
            width:250px;
        }
    }
</style>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top shadow" style="background-color:white ;border-bottom: 1px solid #ccc;min-height:130px; max-height: 150px;">
        <div class="container" style="height:100px; justify-content:center;"   >
            <a href="../../index.html">
                <img src="../../../image/logorisda.png" alt="Logo" class="img-fluid" style=" width: 500px;min-width:250px; object-fit:cover;">
            </a>
            <div class="icons d-flex" style="font-size: 10px;">
                <div class="icon">
                    <a href="../soalan-lazim.html" class="link" alt="Soalan Lazim">
                        <img src="../../../image/question-mark.png" alt="Soalan Lazim" class="img-fluid" style="max-height: 20px;">
                        <p>Soalan Lazim</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="../prjku.html" class="link">
                        <img src="../../../image/hubungi.png" alt="Hubungi" class="img-fluid" style="max-height: 20px;">
                        <p>Hubungi</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://forms.gle/UNthUDkmv6EuYP8EA" class="link" target="_blank">
                        <img src="../../../image/icon-aduan.png" alt="Aduan" class="img-fluid" style="max-height: 20px;">
                        <p>Aduan</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://www.facebook.com/risdakelantanutara" class="link" target="_blank">
                        <img src="../../../image/fb-icon.png" alt="Facebook" class="img-fluid" style="max-height: 20px;">
                        <p>Facebook</p>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 140px;">
        <h2 class="text-center mb-4">Kisah Kejayaan</h2>
        <div class="row row-cols-1 row-cols-md-3" style="justify-content:space-evenly;">

            <div class="card mb-5" style="width:400px;">
                <img class="card-img-top" src="../../image/gambarkisah/sejukbeku.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h6 class="card-title">Projek Makanan Sejuk Beku</h6>
                    <p class="card-text">Wan Paizah Bt Wan Hashim, pengusaha projek makanan sejuk beku yang berasal dari Kota Bharu, Kelantan.</p>
                    <a href="makanan-sejukbeku.html">Lebih lanjut</a>
                </div>
            </div>
        
    
  
            <div class="card mb-5" style="width: 400px;">
                <img class="card-img-top" src="../../image/gambarkisah/percetakan.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h6 class="card-title">Projek Percetakan</h6>
                    <p class="card-text">Mohd Nurfirwan Bin Ismail, pengusaha projek percetakan yang berasal dari Pasir Mas, Kelantan</p>
                    <a href="nurfirwan.html">Lebih lanjut</a>
                </div>
            </div>

            <div class="card mb-5" style="width: 400px;">
                <img class="card-img-top" src="../../image/gambarkisah/percetakan2.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h6 class="card-title">Projek Percetakan</h6>
                    <p class="card-text">Hassan Bin Mustafa, pengusaha projek percetakan yang berasal dari Pasir Mas, Kelantan.</p>
                    <a href="hassan.html">Lebih lanjut</a>
                </div>
            </div>

            <div class="card mb-5" style="width: 400px;">
                <img class="card-img-top" src="../../image/gambarkisah/keropok.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h6 class="card-title">Projek Pelbagai Keropok Segera</h6>
                    <p class="card-text">Suriaty Bt Che Ab Latif, pengusaha projek pelbagai keropok segera yang berasal dari Pasir Mas, Kelantan</p>
                    <a href="keropok-segera.html">Lebih lanjut</a>
                </div>
            </div>

            <div class="card mb-5" style="width: 400px;">
                <img class="card-img-top" src="../../image/gambarkisah/nazree1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h6 class="card-title">Projek Percetakan</h6>
                    <p class="card-text">Nazree bin Ibrahim, pengusaha projek percetakan berasal dari Rantau Panjang, Kelantan</p>
                    <a href="nazree.html">Lebih lanjut</a>
                </div>
            </div>

            <div class="card mb-5" style="width: 400px;">
                <img class="card-img-top" src="../../image/gambarkisah/suraya.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h6 class="card-title">Projek Jahitan T-shirt</h6>
                    <p class="card-text">Suraya binti Mohamed, pengusaha projek percetakan berasal dari Pasir Mas, Kelantan</p>
                    <a href="suraya.html">Lebih lanjut</a>
                </div>
            </div>
            
            <div class="card mb-5" style="width: 400px;">
                <img class="card-img-top" src="../../image/gambarkisah/syed.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h6 class="card-title">Projek Perabot</h6>
                    <p class="card-text">Syed Mohamad Zulkifli bin Syed Mohd Kamaruddin, pengusaha projek perabot berasal dari Rantau Panjang, Kelantan</p>
                    <a href="syed.html">Lebih lanjut</a>
                </div>
            </div>

        </div>
        
    </div>
    
</body>
</html>