<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senarai Pengeluaran Produk Makanan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../../css/card.css">
    <link rel="stylesheet" href="../../../css/nav.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top shadow" style="background-color:white ;border-bottom: 1px solid #ccc;min-height:130px; max-height: 150px;">
        <div class="container" style="height:100px; justify-content:center;"   >
            <a href="../../../index.html">
                <img src="../../../image/logorisda.png" alt="Logo" class="img-fluid" style=" width: 500px;min-width:250px; object-fit:cover;">
            </a>
            <div class="icons d-flex" style="font-size: 10px;">
                <div class="icon">
                    <a href="../../soalan-lazim.html" class="link" alt="Soalan Lazim">
                        <img src="../../../image/question-mark.png" alt="Soalan Lazim" class="img-fluid" style="max-height: 20px;">
                        <p>Soalan Lazim</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="../../prjku.html" class="link">
                        <img src="../../../image/hubungi.png" alt="Hubungi" class="img-fluid" style="max-height: 20px;">
                        <p>Hubungi</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://forms.gle/UNthUDkmv6EuYP8EA" class="link" target="_blank">
                        <img src="../../../image/icon-aduan.png" alt="Aduan" class="img-fluid" style="max-height: 20px;">
                        <p>Aduan</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://www.facebook.com/risdakelantanutara" class="link" target="_blank">
                        <img src="../../../image/fb-icon.png" alt="Facebook" class="img-fluid" style="max-height: 20px;">
                        <p>Facebook</p>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 140px;">
        <h2 class="text-center mb-4">Senarai Pengeluaran Produk Makanan</h2>
        <div class="container">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nama Syarikat</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Row 1 -->
                    <tr data-bs-toggle="collapse" data-bs-target="#details1" class="clickable">
                        <td>1</td>
                        <td>WAN MOHD SAIPUDDIN BIN WAN ABD RASID</td>
                        <td>SAIPUDDIN EMPIRE ENTERPRISE</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details1" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 01111276972</p>
                                    <P>ALAMAT        : KAWASAN PERINDUSTRIAN MARA, PENGKALAN CHEPA, 16100, KOTA BHARU, KELANTAN</P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/saipuddinempire1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/saipuddinempire2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/saipuddinempire3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                    <tr data-bs-toggle="collapse" data-bs-target="#details2" class="clickable">
                        <td>2</td>
                        <td>RAMLI BIN IBRAHIM</td>
                        <td>SURI AGRO FOOD</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details2" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 012-9891517</p>
                                    <P>ALAMAT        : LOT 2519, KG PADANG TENGAH, LEBUHRAYA SALOR PASIR MAS, 15100 KOTA BHARU, KELANTAN  </P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/suriagro1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/suriagro2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/suriagro3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-bs-toggle="collapse" data-bs-target="#details3" class="clickable">
                        <td>3</td>
                        <td>MUHAMAD AKRAM BIN CHE ABDULLAH</td>
                        <td>ICELY SDN BHD</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details3" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 011-17940277</p>
                                    <P>ALAMAT        : PT 1517, TAMAN MESRA , KOK LANAS 16450 KETEREH, KELANTAN</P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/icely1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/icely2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/icely3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-bs-toggle="collapse" data-bs-target="#details4" class="clickable">
                        <td>4</td>
                        <td>AHMAD SYAZUWAN BIN ANUAR</td>
                        <td>AMEERA FOOD INDUSTRY</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details4" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 017-9111418</p>
                                    <P>ALAMAT        : KAMPUNG TELUK PANJI, 16100, KOTA BHARU, KELANTAN</P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/ameera1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/ameera2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/ameera3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-bs-toggle="collapse" data-bs-target="#details5" class="clickable">
                        <td>5</td>
                        <td>RAJA RATNA DEWI BINTI RAJA MUKHTAR</td>
                        <td>VILA CAFE & BAKERY</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details5" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 013-9257919</p>
                                    <P>ALAMAT        : LOT 1612/1 PENGKALAN BATU BANDAR PASIR MAS 17000 PASIR MAS, KELANTAN</P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/vila1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/vila2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/vila3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-bs-toggle="collapse" data-bs-target="#details6" class="clickable">
                        <td>6</td>
                        <td>WAN AZIATI BT WAN HUSSIN</td>
                        <td>BALQIS BAKERY</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details6" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 013-9207310</p>
                                    <P>ALAMAT        : W3/187-A LORONG 4, KAMPUNG LEMAL,17000 PASIR MAS,KELANTAN    </P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/balqis1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/balqis2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/balqis3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-bs-toggle="collapse" data-bs-target="#details7" class="clickable">
                        <td>7</td>
                        <td>ROHANA BT MA’ATI</td>
                        <td>AIN MAJU</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details7" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 017-9321381</p>
                                    <P>ALAMAT        : LOT 532, KG LEBAI AKIL,CHICHA TINGGI,17000 PASIR MAS,KELANTAN</P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/ain1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/ain2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/ain3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr data-bs-toggle="collapse" data-bs-target="#details8" class="clickable">
                        <td>8</td>
                        <td>NOOR AZLIN SURIANIE BT MAZLAN</td>
                        <td>R&Y SECRET SOLUTION</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="p-0 border-0">
                            <div id="details8" class="collapse">
                                <div class="p-3 bg-light border-top">
                                    <p>NOMBOR TELEFON: 01110954540</p>
                                    <P>ALAMAT        : KG APA-APA BUNUT SUSU,17020 PASIR MAS,KELANTAN</P>
                                    <div class="d-flex flex-wrap gap-2">
                                        <img src="../../../image/gambar-produk/makanan/r&y1.jpg" class="img-thumbnail" alt="Image 1">
                                        <img src="../../../image/gambar-produk/makanan/r&y2.jpg" class="img-thumbnail" alt="Image 2">
                                        <img src="../../../image/gambar-produk/makanan/r&y3.jpg" class="img-thumbnail" alt="Image 3">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</body>
</html>