<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senarai Program Usahawan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/program-list.css">
    <link rel="stylesheet" href="../../css/nav.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top shadow" style="background-color:white ;border-bottom: 1px solid #ccc;min-height:130px; max-height: 150px;">
        <div class="container" style="height:100px; justify-content:center;"   >
            <a href="../../index.html">
                <img src="../../image/logorisda.png" alt="Logo" class="img-fluid" style=" width: 500px;min-width:250px; object-fit:cover;">
            </a>

            
            <div class="icons d-flex" style="font-size: 10px;">
                <div class="icon">
                    <a href="../../index.html" class="link" alt="Utama">
                        <img src="../../image/homeicon.png" alt="Utama" class="img-fluid" style="max-height: 20px;">
                        <p>Utama</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="../soalan-lazim.html" class="link" alt="Soalan Lazim">
                        <img src="../../image/question-mark.png" alt="Soalan Lazim" class="img-fluid" style="max-height: 20px;">
                        <p>Soalan Lazim</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="../prjku.html" class="link">
                        <img src="../../image/hubungi.png" alt="Hubungi" class="img-fluid" style="max-height: 20px;">
                        <p>Hubungi</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://forms.gle/UNthUDkmv6EuYP8EA" class="link" target="_blank">
                        <img src="../../image/icon-aduan.png" alt="Aduan" class="img-fluid" style="max-height: 20px;">
                        <p>Aduan</p>
                    </a>
                </div>

                <div class="icon">
                    <a href="https://www.facebook.com/risdakelantanutara" class="link" target="_blank">
                        <img src="../../image/fb-icon.png" alt="Facebook" class="img-fluid" style="max-height: 20px;">
                        <p>Facebook</p>
                    </a>
                </div>
            </div>
        </div>
    </nav>  
    <div class="container-box" style="margin-top: 140px;">
    <div class="tabs">
        <h5 class="text-center">Senarai Program Usahawan</h5>
        <div class="tab active" data-tab="aet-startup">AET Start-Up</div>
        <div class="tab" data-tab="aet-nano">AET NANO</div>
        <div class="tab" data-tab="startup-integrator">Start-Up (Integrator)</div>
        <div class="tab" data-tab="aet-restart">AET Re-start</div>
        <div class="tab" data-tab="aet-belia">AET Belia</div>
        <div class="tab" data-tab="p1-pembungkusan">P1 Pelabelan & Pembungkusan</div>
        <div class="tab" data-tab="p1-pensijilan">P1 Pensijilan Halal dan MeSTI</div>
        
    </div>

    <div class="tab-content active" id="aet-startup">
        <h3>AET Start-Up</h3>
        <p>Skim Insentif Start-up merupakan pemberian Insentif Permulaan Perniagaan kepada pekebun kecil atau AIR yang bercadang hendak memulakan atau baru menjalankan sesuatu perniagaan. Start-up juga merujuk kepada usahawan dalam kategori Pico yang mana perniagaannya masih di peringkat awal penubuhan dan sehingga sesuatu tempoh tertentu yang telah memperoleh jualan kurang daripada RM60,000.00 setahun. Selepas setahun menyertai skim ini, usahawan dijangka akan mencapai jualan melebihi RM60,000.00 setahun.</p>
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    Syarat Program Bantuan
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ol>
                            <li>Pemohon mestilah seorang pekebun kecil atau AIR yang belum memulakan perniagaan atau</li>
                            <li>Pemohon yang telah menjalankan perniagaan kurang daripada 3 tahun dengan jualan kurang daripada RM60,000.00 setahun.</li>
                        </ol>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseTwo">
                    Kadar Bantuan
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        1. Skim Insentif Start-up Secara Individu<br>
                        <p>Had maksimum bantuan Skim Insentif Start-up Secara Individu adalah RM10,000.00 sekeluarga. Bantuan perlu mengikut skop yang ditetapkan berdasarkan keperluan perniagaan pemohon. Keutamaan perlu diberikan kepada komponen di bawah skop bantuan yang boleh membantu menjana pendapatan sekurang-kurangnya RM2,500.00 sebulan sekeluarga.</p>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseThree">
                    Kaedah Permohonan
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p>Semua permohonan Projek Aktiviti Ekonomi Tambahan perlu diisi menggunakan format Borang Permohonan yang disediakan. Borang permohonan ini juga perlu disertakan dengan Kertas Kerja Pelan Perniagaan.</p>
                    </div>
                </div>
            
    <div class="tab-content" id="aet-nano">
        <h3>AET NANO</h3>
        <p>Skim Insentif Nano merupakan pemberian Insentif Pemulaan Perniagaan yang memberi tumpuan kepada Pembangunan Produk/ Pengeluaran khususnya bagi usahawan pekebun kecil atau AIR dalam kategori Nano iaitu yang telah memulakan perniagaan bagi tempoh masa tertentu dan telah memperoleh jualan antara RM60,000.00 ke RM150,000.00 setahun. Selepas setahun menyertai skim ini, usahawan dijangka akan mencapai jualan melebihi RM150,000.00 setahun.</p>
        <div id="accordion1">
            <div class="card">
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse6">
                    Skop
                    </a>
                </div>
                <div id="collapse6" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <ol>
                            <li>Mesin & Peralatan</li>
                            <li>Bina baharu atau baik pulih bengkel/ premis perniagaan</li>
                            <li>Bina baharu atau baik pulih pagar/ kandang/ reban/ kolam</li>
                            <li>Kos penyediaan tapak</li>
                            <li>Baka ternakan</li>
                            <li>Bahan mentah/ input pertanian</li>
                            <li>Makanan ternakan & ubat-ubatan</li>
                            <li>Papan tanda perniagaan</li>
                            <li>Insurans Perlindungan premis/ peralatan/ mesin/</li>
                            <li>Lain-lain input perniagaan yang diluluskan oleh Jawatankuasa Program Keusahawanan RISDA Negeri/ Daerah</li>
                        </ol>
                    </div>
                </div>


                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse7">
                    Nilai Bantuan
                    </a>
                </div>
                <div id="collapse7" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <p>Skim Insentif Nano : RM20,000.00/ orang</p>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse5">
                    Syarat Program Bantuan
                    </a>
                </div>
                <div id="collapse5" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <ol>
                            <li>Melalui tapisan rekrutmen dan menjalani ujian psikometrik</li>
                            <li>Bersedia dan sanggup untuk menghadiri sebarang jenis latihan dan kursus</li>
                            <li>Memuat turun aplikasi RISDA Entrepreneur Delivery System (REDS) di Playstore dan mengemaskini rekod urusniaga secara konsisten</li>
                            <li>Menjalankan bisnes/ perniagaan sepenuh masa</li>
                            <li>Bersedia meningkatkan kapasiti dan keupayaan diri dalam mengembangkan perniagaan</li>
                        </ol>
                    </div>
                </div>


                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse8">
                    Kumpulan Sasar
                    </a>
                </div>
                <div id="collapse8" class="collapse" data-bs-parent="#accordion1">
                    <div class="card-body">
                        <ul>
                            <li>Pekebun Kecil (pemilik pengusaha) Warganegara Malaysia atau Ahli Isi Rumah</li>
                            <li>Keutamaan kepada peserta tanam semula yang masih dalam bantuan</li>
                            <li>Keutamaan kepada pemohon Kategori B40</li>
                            <li>Pekebun kecil yang berumur antara 18-60 tahun</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="startup-integrator">
        <h3>Start-Up (Integrator)</h3>
        <p>Syarikat-syarikat tempatan, Syarikat Milikan RISDA (SMR), Koperasi Pekebun Kecil (KPK) atau Usahawan Kategori Mikro dan ke atas yang dilantik bagi membangunkan usahawan melalui pakej yang ditawarkan oleh syarikat berkenaan dan telah menandatangani dokumen perjanjian bersama RISDA.</p>
        <div id="accordion2">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse9">
                    Skop
                    </a>
                </div>
                <div id="collapse9" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <p>Pakej yang diluluskan dalam JIPKRIS meliputi:</p>
                        <ol>
                            <li>Mesin & peralatan</li>
                            <li>Bina baharu atau baik pulih bengkel/ premis perniagaanBina baharu atau baik pulih bengkel/ premis perniagaan</li>
                            <li>Bina baharu atau baik pulih pagar/ kandang/ reban/ kolam</li>
                            <li>Kos penyediaan tapak</li>
                            <li>Baka ternakan</li>
                            <li>Bahan mentah/ input pertanian</li>
                            <li>Makanan ternakan & ubat-ubatan</li>
                            <li>Papan tanda perniagaan</li>
                            <li>Insurans Perlindungan premis/ peralatan/ mesin/</li>
                            <li>Lain-lain input perniagaan</li>
                        </ol>
                    </div>
                </div>
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse10">
                    Nilai Bantuan
                    </a>
                </div>
                <div id="collapse10" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <p>Skim Insentif Start up Integrator : RM20,000.00/ orang</p>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse11">
                    Pemilihan Intergrator
                    </a>
                </div>
                <div id="collapse11" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <ul>
                            <li>PRD/PRN/BPU mengesyorkan syarikat yang memenuhi kriteria sebagai integrator</li>
                            <li>Cadangan Syarikat Integrator dibawa ke JIPKRIS untuk kelulusan pelaksanaan program</li>
                            <li>BPU keluarkan surat lantikan Integrator dan perjanjian RISDA-Integrator</li>
                        </ul>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse12">
                    Pemilihan Usahawan
                    </a>
                </div>
                <div id="collapse12" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <ul>
                            <li>Pemilihan peserta yang berminat hasil dari tapisan e-Rekrutmen dan e-SPeK</li>
                            <li>Melepasi temuduga dengan Syarikat Integrator</li>
                        </ul>
                    </div>
                </div>


                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse123">
                    Kumpulan Sasar
                    </a>
                </div>
                <div id="collapse123" class="collapse" data-bs-parent="#accordion2">
                    <div class="card-body">
                        <ol>
                            <li>Pekebun Kecil (pemilik pengusaha) Warganegara Malaysia atau Ahli Isi Rumah</li>
                            <li>Keutamaan kepada peserta tanam semula yang masih dalam bantuan</li>
                            <li>Keutamaan kepada pemohon Kategori B40</li>
                            <li>Pekebun kecil yang berumur antara 18-60 tahun</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="aet-restart">
        <h3>AET Re-start</h3>
        <p>Usahawan sedia ada yang terkesan akibat bencana seperti banjir, Covid-19 dll.<br> RM3,000/orang</p>
        <div id="accordion3">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse13">
                    Skop
                    </a>
                </div>
                <div id="collapse13" class="collapse" data-bs-parent="#accordion3">
                    <div class="card-body">
                        <ol>
                            <li>Membeli bahan mentah</li>
                            <li>Modal pusingan</li>
                        </ol>
                    </div>
                </div>
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse14">
                    Nilai Bantuan
                    </a>
                </div>
                <div id="collapse14" class="collapse" data-bs-parent="#accordion3">
                    <div class="card-body">
                        <p>RM3,000.00/ orang</p>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse15">
                    Syarat Program Bantuan
                    </a>
                </div>
                <div id="collapse15" class="collapse" data-bs-parent="#accordion3">
                    <div class="card-body">
                        <ol>
                            <li>Pernah menerima bantuan AET.</li>
                            <li>Perniagaan telah beroperasi sekurang-kurangnya 1 tahun sebelum pandemik Covid -19.</li>
                            <li>Pengurangan sekurang-kurangnya 50% pendapatan berbanding sebelum pandemik Covid -19.</li>
                        </ol>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse16">
                    Kumpulan Sasar
                    </a>
                </div>
                <div id="collapse16" class="collapse" data-bs-parent="#accordion3">
                    <div class="card-body">
                        <ol>
                            <li>Usahawan sedia ada</li>
                            <li>Usahawan terjejas akibat bencana (banjir, COVID 19, dsb)</li>
                            <li>Usahawan B40 dengan hasil jualan rendah</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="tab-content" id="aet-belia">
        <h3>AET Belia</h3>
        <p>Golongan belia berumur 18-40 tahun <br>RM15,000/orang termasuk kursus latihan dan bimbingan</p>
        <div id="accordion4">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse17">
                    Skop
                    </a>
                </div>
                <div id="collapse17" class="collapse" data-bs-parent="#accordion4">
                    <div class="card-body">
                        <ul>
                            <li>RM5,000 Latihan asas keusahawanan & Coaching</li>
                            <li>RM10,000 Peralatan/ Sewa tapak/ Modal pusingan</li>
                        </ul>
                    </div>
                </div>
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse18">
                    Nilai Bantuan
                    </a>
                </div>
                <div id="collapse18" class="collapse" data-bs-parent="#accordion4">
                    <div class="card-body">
                        <p>RM15,000.00/ orang</p>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse19">
                    Syarat Program Bantuan
                    </a>
                </div>
                <div id="collapse19" class="collapse" data-bs-parent="#accordion4">
                    <div class="card-body">
                        <ol>
                            <li>Tidak mempunyai pekerjaan</li>
                            <li>Telah berniaga 3 bulan atau perniagaan kurang 12 bulan</li>
                            <li>Tidak pernah menerima bantuan AET</li>
                            <li>Bersedia dan sanggup untuk menghadiri sebarang jenis latihan</li>
                            <li>Menjalankan bisnes/ perniagaan secara sepenuh masa</li>
                            <li>Berupaya mencapai sasaran pendapatan mengikut tempoh masa yang ditetapkan</li>
                        </ol>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse20">
                    Kumpulan Sasar
                    </a>
                </div>
                <div id="collapse20" class="collapse" data-bs-parent="#accordion4">
                    <div class="card-body">
                        <ul>
                            <li>Belia berumur 18-40 tahun</li>
                            <li>Ahli KGMR</li>
                            <li>Menyertai TKPK</li>
                            <li>Mempunyai sijil TVET</li>
                            <li>Alumni UCAM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="p1-pembungkusan">
        <h3>Pelabelan & Pembungkusan</h3>
        <ol>
            <li>Membina jenama dan identiti produk usahawan</li>
            <li>Menambah nilai produk usahawan</li>
            <li>Meluaskan pasaran produk usahawan</li>
            <li>Meningkatkan pendapatan usahawan</li>
            <li>Memastikan usahawan mengikut standard Akta Pelabelan Makanan</li>
        </ol>
        <div id="accordion5">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse21">
                    Kelayakan
                    </a>
                </div>
                <div id="collapse21" class="collapse" data-bs-parent="#accordion5">
                    <div class="card-body">
                        <ul>
                            <li>Mestilah warganegara Malaysia</li>
                            <li>Pekebun kecil yang berdaftar sebagai usahawan bimbingan RISDA</li>
                            <li>Berumur antara 18 hingga 60 tahun</li>
                            <li>Telah berdaftar syarikat dengan Syarikat Suruhanjaya Malaysia dan mempunyai Akaun syarikat sendiri</li>
                            <li>Pemohon menghasilkan/ mengeluarkan produk sendiri</li>
                        </ul>
                    </div>
                </div>
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse22">
                    Kadar Bantuan dan Skop Bantuan
                    </a>
                </div>
                <div id="collapse22" class="collapse" data-bs-parent="#accordion5">
                    <div class="card-body">
                        <p>Pembungkusan Maksimum RM10,000/usahawan Pelabelan Maksimum RM 5,000/usahawan</p>
                        <p>Skop bantuan:</p>
                        <ol>
                            <li>Bengkel reka bentuk pembungkusan (1 hari)</li>
                            <li>Pengujian maklumat nutrisi makanan</li>
                            <li>Proses carian jenama (MyIPO)</li>
                            <li>Reka bentuk jenama</li>
                            <li>Pendaftaran awal reka bentuk jenama </li>
                            <li>Mereka bentuk label/ pembungkusan produk</li>
                            <li>Cetak roll up bunting</li>
                            <li>Cetak pembungkusan</li>
                            <li>Logo RISDA dengan tulisan Usahawan Bimbingan RISDA di bawahnya</li>
                        </ol>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse23">
                    Syarat Tambahan Pemohon
                    </a>
                </div>
                <div id="collapse23" class="collapse" data-bs-parent="#accordion5">
                    <div class="card-body">
                        <p>Pembungkusan Produk</p>
                        <ol>
                            <li>Usahawan Mikro</li>
                            <li>Perniagaan > 3 tahun</li>
                            <li>Aliran Wang Tunai untuk tempoh 3 tahun</li>
                            <li>Keutamaan kepada usahawan RisSMart</li>
                        </ol>

                        <p>Pelabelan Produk</p>
                        <ol>
                            <li>Usahawan kadet</li>
                            <li>Perniagaan < 1 tahun</li>
                            <li>Aliran Wang Tunai selama 1 tahun</li>
                            <li>Keutamaan kepada mana-mana usahawan yang pernah memasarkan produk di ekspo/karnival/ hypermarket/pasaraya/RisSMart dan lain-lain</li>
                        </ol>

                        <p>Produk</p>
                        <ol>
                            <li>Usahawan Mikro</li>
                            <li>Perniagaan > 3 tahun</li>
                            <li>Aliran Wang Tunai untuk tempoh 3 tahun</li>
                            <li>Keutamaan kepada usahawan RisSMart</li>
                        </ol>

                        <p>Pelabelan Produk</p>
                        <ol>
                            <li>Usahawan kadet</li>
                            <li>Perniagaan < 1 tahun</li>
                            <li>Aliran Wang Tunai selama 1 tahun</li>
                            <li>Keutamaan kepada mana-mana usahawan yang pernah memasarkan produk di ekspo/karnival/ hypermarket/pasaraya/RisSMart dan lain-lain</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content" id="p1-pensijilan">
        <h3>Pensijilan Halal dan MeSTI</h3>
        <ol>
            <li>Mengukuhkan kesedaran kepada usahawan tentang konsep halalan toyyiban</li>
            <li>Membimbing usahawan dalam urusan prosedur dan syarat-syarat permohonan sijil halal</li>
            <li>Melahirkan usahawan yang mengeluarkan produk/perkhidmatan memenuhi kehendak syarak</li>
            <li>Membantu usahawan menambah nilai produk bagi menembusi pasaran domestik dan global</li>
        </ol>
        <div id="accordion6">
            <div class="card">
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse24">
                    Fasa 1: Pra Pensijilan
                    </a>
                </div>
                <div id="collapse24" class="collapse" data-bs-parent="#accordion6">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse001">Kadar Bantuan</a>
                                </div>
                                <div id="collapse001" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <p>Kadar bantuan maksimm RM6,000/ usahawan</p>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse001">Skop Bantuan</a>
                                </div>
                                <div id="collapse001" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <p>Skop bantuan melibatkan komponen berikut:</p>
                                        <ol>
                                            <li>Bengkel Pendedahan dan Kesedaran Pensijilan</li>
                                            <li>Pendaftaran dan pengemaskinian Sistem Online MYeHALAL dan FOSSIM;</li>
                                            <li>Pembangunan Sistem Kawalan Halal/ Internal Halal Control System(IHCS)</li>
                                            <li>Bimbingan dan Tunjuk Ajar sepanjang proses pensijilan; dan</li>
                                            <li>Pemantuan dan pra aditan dalaman (Pensijilan Halal dan MeSTI).</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse28">
                    Fasa 2: Penambahbaikan Premis/Bengkel Pensijilan
                    </a>
                </div>
                <div id="collapse28" class="collapse" data-bs-parent="#accordion6">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse002">Syarat-syarat khusus</a>
                                </div>
                                <div id="collapse002" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <ol>
                                            <li>Menerima Program Pensijilan dan Akreditasi RISDA: Pensijilan Halal dan MeSTI Fasa 1</li>
                                            <li>Selesai sepenuhnya Fasa 1: Pra Pensijilan; dan</li>
                                            <li>Pengesahan Cadangan Pengubahsuaian dan Peralatan melalui Borang HM-2A Pengesahan Cadangan dan Peralatan daripada ejen pelaksana yang telah dilantik.</li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse002">Kadar Bantuan</a>
                                </div>
                                <div id="collapse002" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <p>Peruntukan maksimum bagi Fasa 2: Penambahbaikan premis/bengkel pensijilan adalah sebanyak RM20,000/ usahawan.</p>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse002">Skop Bantuan</a>
                                </div>
                                <div id="collapse002" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <p>Skop bantuan bagi Fasa 2: Penambahbaikan Premis/ Bengkel Pensijilan melibatkan:</p>
                                        <ol>
                                            <li>Penambahbaikan atau pengubahsuaian premis yang telah dicadangkan oleh Ejen Pelaksana dan:</li>
                                            <li>Pembelian peralatan yang dicadangkan oleh Ejen Pelaksana</li>
                                            <li>Lain-lain perkara yang dicadangkan oleh Ejen Pelaksana</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse29">
                    Fasa 3: Penilaian Pensijilan
                    </a>
                </div>
                <div id="collapse29" class="collapse" data-bs-parent="#accordion6">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse003">Syarat-syarat khusus</a>
                                </div>
                                <div id="collapse003" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <ol>
                                            <li>Menerima Program Pensijilan dan Akreditasi RISDA: Pensijilan Halal dan MeSTI Fasa 1 dan 2</li>
                                            <li>Selesai sepenuhnya Fasa 1: Pra Pensijilan dan Fasa 2: Penambahbaikan Bengkel/ Premis Pensijilan;</li>
                                            <li>Pengesahan Perakuan Siap dan Pematuhan Pengubahsuaian Premis/ Bengkel Pensijilan melalui Borang HM-3A daripada usahawan dan Penolong Jurutera</li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse003">Kadar Bantuan</a>
                                </div>
                                <div id="collapse003" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <p>Peruntukan maksimum bagi Fasa 3: Penilaian Pensijilan adalah sebanyak RM6,000/ usahawan.</p>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapse003">Skop Bantuan</a>
                                </div>
                                <div id="collapse003" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <p>Skop bantuan melibatkan komponen berikut:</p>
                                        <ol>
                                            <li>Pra Auditan Ketua (Pensijilan Halal dan MeSTI)</li>
                                            <li>Bayaran fi kepada KKM/ JAKIM/ JAIN/ MAIN atau pihak berkuasa berwibawa berkaitan oleh usahawan.</li>
                                            <li>Penghataran dokumen lengkap kepada KKM/ JAKIM/ JAIN/ MAIN</li> 
                                            <li>Auditan MeSTI oleh KKM dan Pensijilan Halal oleh JAKIM/ JAIN/ MAIN</li>
                                            <li>Usahawan memperoleh Pensijilan Halal dan MeSTI</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse25">
                    Kadar Bantuan
                    </a>
                </div>
                <div id="collapse25" class="collapse" data-bs-parent="#accordion6">
                    <div class="card-body">
                        <p>Maksimum RM32,000/syarikat</p>
                    </div>
                </div>

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse26">
                    Kelayakan Permohonan
                    </a>
                </div>
                <div id="collapse26" class="collapse" data-bs-parent="#accordion6">
                    <div class="card-body">
                        <ol>
                            <li>Berdaftar dengan SSM/SKM/lain-lain agensi kerajaan</li>
                            <li>Mempunyai lesen perniagaan daripada PBT/surat akuan daripada agensi kerajaan</li>
                            <li>Beroperasi sepenuhnya sebelum permohonan dibuat</li>
                            <li>Mengeluarkan produk halal serta mematuhi standard halal yang ditetapkan</li>
                            <li>Keutamaan kepada usahawan kategori Mikro dan ke atas</li>
                        </ol>
                    </div>
                </div>
                

                <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapse27">
                    Fokus Perusahaan
                    </a>
                </div>
                <div id="collapse27" class="collapse" data-bs-parent="#accordion6">
                    <div class="card-body">
                        <ol>
                            <li>Makanan/Minuman</li>
                            <li>Premis Makanan</li>
                            <li>Kosmetik dan dandanan diri</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <script>
    const tabs = document.querySelectorAll('.tab');
    const contents = document.querySelectorAll('.tab-content');

    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        const target = tab.getAttribute('data-tab');

        tabs.forEach(t => t.classList.remove('active'));
        tab.classList.add('active');

        contents.forEach(content => {
          content.classList.remove('active');
          if (content.id === target) {
            content.classList.add('active');
          }
        });
      });
    });
  </script>

</body>
</html>
